## Add system admins
add_principal identifier.fivem:1080420 group.admin
add_principal identifier.fivem:402836 group.admin
add_principal identifier.fivem:3710848 group.admin
add_principal group.admin ox_inventory
add_principal identifier.steam:110000103773f79 group.admin
add_ace resource.ox_inventory command.add_principal allow
add_ace resource.ox_inventory command.remove_principal allow
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_ace group.admin Badger-Priorities.ResetPCD allow #- Allowed to use /resetpcd
add_ace group.admin Badger-Priorities.InProgress allow #- Allowed to use /inprogress
add_ace group.admin Badger-Priorities.OnHold allow #- Allowed to use /onhold
add_ace group.admin Badger-Priorities.Cooldown allow #- Allowed to use /cooldown
add_ace group.admin Badger-Priorities.Commands allow #- Allowed to use all commands in the script

## Admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
{{addPrincipalsMaster}}

exec permissions.cfg

setr ea_LanguageName "en"                # set our language to english
setr ea_defaultKey "F2"      # set our menu button to F2, this is a one-time setting!

add_ace group.admin easyadmin allow
